# MongoDB Configuration (docker-compose will handle these internally)
ADMIN_SEED_KEY=mysecretkey
SECRET_KEY=taskflow_jwt_secret_123

# AWS S3 Configuration
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_S3_BUCKET=taskflow-uploads-demo

# Frontend API Configuration
VITE_API_URL=http://backend:5000/api
